body {
  font-family: 'Varela Round', sans-serif;
}

nav {
  background-color: #4db6ac !important;
  box-shadow: none;
}

#contactHeader {
  color: #ee6e73;
}

#contactMessage {
  font-size: 16px;
}

.brand-logo{
  margin-left: 10px;
}


.catopus{
  width: 67px;
  height: 67px;
}

.header {
  color: #607d8b;
}

/*Trying to target the radio buttons below but not working!!!*/
.questionButtons, [type="radio"] {
  float: left;
  width: auto;
  margin-left: 3em;
  color: red;
  display: inline;
}

.questionImage {
  max-height: 300px;
  display: block;
  margin: auto;
}

hr {

}


/*Styling for preloader*/
.overlay {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:1000;
  background-color: white;
	opacity:.9;
	visibility:hidden;
	transition: opacity 1s ease;
}

.spinnerBox {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  right: 0%;
  margin: 0 auto;
}

.spinnerCircle {
  display: block;
  left: 0%;
  right: 0%;
  margin: 0 auto;
}
